<div class="space-y-3">
  <h2 class="text-4xl font-bold">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="mb-3 field">
      <%= f.label :email, class: "text-gray-700 text-sm font-bold" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="mb-3 field">
      <%= f.label :password, class: "text-gray-700 text-sm font-bold" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <div class="mb-3 field">
      <%= f.label :password_confirmation, class: "text-gray-700 text-sm font-bold" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="mb-3 actions">
      <%= f.submit "Sign up", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 py-1 rounded" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>