<!DOCTYPE html>
<html>
  <head>
    <title>Appointment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="container mx-auto mt-10">
      <div>
        <% if !user_signed_in? %>
          <%= link_to "Sign in", user_session_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 py-1 rounded" %>
          <%= link_to "Sign up", new_user_registration_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 py-1 rounded" %>
        <% else %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 py-1 rounded" %>
        <% end %>
      </div>
      <div class="mb-6">
        <p class="text-green-600 notice"><%= notice %></p>
        <p class="text-red-600 alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
